<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.dyuapp">

    <!-- 网络和文件读写权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 网络状态改变 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!-- 拨号权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 二维码扫描 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 极光 -->
    <!-- Required -->
    <permission
        android:name="com.project.dyuapp.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.project.dyuapp.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 优酷 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <application
        android:name=".base.MyApplacation"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <!-- 固定画布尺寸 -->
        <meta-data
            android:name="design_width"
            android:value="750" />
        <meta-data
            android:name="design_height"
            android:value="1334" />
        <!-- 图片预览 删除 -->
        <activity
            android:name="com.lzy.imagepicker.ui.ImagePreviewDelActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImagePickerThemeFullScreen" />
        <!-- 主Activity -->
        <activity
            android:name=".activity.StartActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--商城导购-分类-->
        <activity
            android:name=".shop.CateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!--商城导购-商品-->
        <activity
            android:name=".shop.GoodsActivity"
            android:screenOrientation="portrait" />

        <!--商城导购-商品-详情-->
        <activity
            android:name=".shop.GoodsDetailActivity"
            android:screenOrientation="portrait" />

        <!--跳转网页-->
        <activity android:name=".shop.WebActviity" />

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PublishActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".activity.CommenWebviewActivity"
            android:screenOrientation="portrait" />

        <!-- ==================钓场、渔具店================== -->
        <!-- 添加钓场 -->
        <activity
            android:name=".activity.AppendFishingPlaceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- 添加渔具店 -->
        <activity
            android:name=".activity.AppendFishingShopActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- 首页-钓场 -->
        <activity
            android:name=".activity.HomeFishingPlaceActivity"
            android:screenOrientation="portrait" />
        <!-- 首页-渔具店 -->
        <activity
            android:name=".activity.HomeFishingShopActivity"
            android:screenOrientation="portrait" />
        <!-- 同城-钓场 -->
        <activity
            android:name=".activity.CityFishingPlaceActivity"
            android:screenOrientation="portrait" />
        <!-- 同城-渔具店 -->
        <activity
            android:name=".activity.CityFishingShopActivity"
            android:screenOrientation="portrait" />
        <!-- 钓场详情 -->
        <activity
            android:name=".activity.FishingPlaceDetailsActivity"
            android:screenOrientation="portrait" />
        <!--钓友点评（钓场详情）-->
        <activity
            android:name=".activity.FishingFriendsDPActivity"
            android:screenOrientation="portrait" />
        <!-- 渔具店详情 -->
        <activity
            android:name=".activity.FishingShopDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- 个人中心-我的钓鱼 -->
        <activity
            android:name=".activity.PersonalCenterFishingPlaceActivity"
            android:screenOrientation="portrait" />
        <!-- 个人中心-我的渔具店 -->
        <activity
            android:name=".activity.PersonalCenterFishingShopActivity"
            android:screenOrientation="portrait" />
        <!-- 钓场类型 -->
        <activity
            android:name=".activity.FishingPlaceTypeActivity"
            android:screenOrientation="portrait" />
        <!-- 收费类型 -->
        <activity
            android:name=".activity.ChargeTypeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ChargeType2Activity"
            android:screenOrientation="portrait" />

        <!-- 鱼种列表 -->
        <activity
            android:name=".activity.FingerlingListActivity"
            android:screenOrientation="portrait" />
        <!-- 报错（钓场、渔具店） -->
        <activity
            android:name=".activity.ReportErrorsActivity"
            android:screenOrientation="portrait" />
        <!-- 报错类型（钓场、渔具店） -->
        <activity
            android:name=".activity.ErrorTypeActivity"
            android:screenOrientation="portrait" />
        <!-- ==================钓场、渔具店================== -->
        <!-- 登录 -->
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <!-- 忘记密码 -->
        <activity
            android:name=".activity.ForgetPswActivity"
            android:screenOrientation="portrait" />
        <!-- 注册 -->
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <!-- 发布帖子（问答，渔具DIY，晒渔具，钓鱼杂谈，海钓路亚）（饵料，技巧） -->
        <activity
            android:name=".activity.PublishPostActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 发布渔获 -->
        <activity
            android:name=".activity.PublishGetActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name=".activity.FishingPlaceCommentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <!-- 首页技巧列表 -->
        <activity
            android:name=".activity.HomeSkillActivity"
            android:screenOrientation="portrait" />
        <!-- 草稿箱 -->
        <activity
            android:name=".activity.DraftsActivity"
            android:screenOrientation="portrait" />
        <!-- 帖子列表 -->
        <activity
            android:name=".activity.PostListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PostListActivity2"
            android:screenOrientation="portrait" />
        <!-- 粉丝主页 -->
        <activity
            android:name=".activity.FansMainPagerActivity"
            android:screenOrientation="portrait" />
        <!-- ==================我的================== -->
        <!-- 我的-关注、粉丝 -->
        <activity
            android:name=".activity.AttentionFansActivity"
            android:screenOrientation="portrait" />
        <!-- 我的-个人信息 -->
        <activity
            android:name=".activity.PersonalInfoActivity"
            android:screenOrientation="portrait" />
        <!-- 我的-设置 -->
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />
        <!-- 个人中心-设置-我的二维码 -->
        <activity
            android:name=".activity.MyCodeActivity"
            android:screenOrientation="portrait" />
        <!-- 个人中心-设置-意见反馈 -->
        <activity
            android:name=".activity.FeedbackActivity"
            android:screenOrientation="portrait" />
        <!-- 个人中心-收货地址 -->
        <activity
            android:name=".activity.AddressActivity"
            android:screenOrientation="portrait" />
        <!-- 个人中心-服务地址-新地址 -->
        <activity
            android:name=".activity.NewAddressActivity"
            android:screenOrientation="portrait" />
        <!-- 个人中心-金币商城 -->
        <activity
            android:name=".activity.GoldMallActivity"
            android:screenOrientation="portrait" />
        <!-- 个人中心-金币商城-兑换记录 -->
        <activity
            android:name=".activity.RecordActivity"
            android:screenOrientation="portrait" />
        <!-- 个人中心-金币商城-金币规则 -->
        <activity
            android:name=".activity.GoldRuleActivity"
            android:screenOrientation="portrait" />
        <!-- 个人中心-金币商城-商品兑换 -->
        <activity
            android:name=".activity.ShopExchangeActivity"
            android:screenOrientation="portrait" />
        <!-- 个人中心-每日签到 -->
        <activity
            android:name=".activity.PualsignActivity"
            android:screenOrientation="portrait" />
        <!-- 个人中心-每日签到-积分规则 -->
        <activity
            android:name=".activity.IntegrationRuleActivity"
            android:screenOrientation="portrait" />
        <!-- 个人中心-每日签到-等级规则 -->
        <activity
            android:name=".activity.GradeRuleActivity"
            android:screenOrientation="portrait" />
        <!-- 同城-同城钓友 -->
        <activity
            android:name=".activity.CityDiaoyouActivity"
            android:screenOrientation="portrait" />
        <!-- 首页-渔获-详情-点赞的人 -->
        <activity
            android:name=".activity.DianzanPeopleActivity"
            android:screenOrientation="portrait" />
        <!-- 个人中心-金币商城-商品兑换-兑换信息 -->
        <activity
            android:name=".activity.ExchangeInfoActivity"
            android:screenOrientation="portrait" />
        <!-- 个人中心-金币商城-商品兑换-选择地址 -->
        <activity
            android:name=".activity.SelectAddressActivity"
            android:screenOrientation="portrait" />
        <!-- 个人中心-设置-扫码加钓友 -->
        <activity
            android:name=".activity.CaptureActivity"
            android:screenOrientation="portrait" />

        <!-- ========================= 我的消息===================== -->
        <!-- 我的消息 -->
        <activity
            android:name=".activity.MyMessageActivity"
            android:screenOrientation="portrait" />
        <!-- 我的私信 -->
        <activity
            android:name=".activity.MyPrivateLetterActivity"
            android:screenOrientation="portrait" />
        <!-- 发现周边钓友 -->
        <activity
            android:name=".activity.FindNearbyFrendActivity"
            android:screenOrientation="portrait" />
        <!-- 回复 -->
        <activity
            android:name=".activity.ReplyActivity"
            android:screenOrientation="portrait" />
        <!-- 赞过我 -->
        <activity
            android:name=".activity.PraiseMeActivity"
            android:screenOrientation="portrait" />
        <!-- 打赏 -->
        <activity
            android:name=".activity.RewardActivity"
            android:screenOrientation="portrait" />
        <!-- 系统消息 android:launchMode="singleTask" -->
        <activity
            android:name=".activity.SystemMsgActivity"
            android:screenOrientation="portrait" />

        <!-- 首页-渔获-详情-全部评论 -->
        <activity
            android:name=".activity.AllCommentActivity"
            android:screenOrientation="portrait" />

        <!-- 首页-搜索 -->
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait" />
        <!-- 首页-天气 -->
        <activity
            android:name=".activity.WeatherActivity"
            android:screenOrientation="portrait" />
        <!-- 首页-技巧-技巧详情 android:launchMode="singleTask" -->
        <activity
            android:name=".activity.SkillDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!-- 添加友盟appkey -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="561cae6ae0f55abd990035bf" />
        <!--android:value="585e1ca3734be46c19001ae1" />-->

        <!-- 新浪 -->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 微信 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- QQ精简版 -->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105975213" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 首页：视频 -->
        <activity
            android:name=".activity.HomeVideoActivity"
            android:screenOrientation="portrait" />
        <!-- 视频详情  //添加这一行才能保证Activity可以监听屏幕旋转 -->
        <activity
            android:name=".activity.VideoDetailsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <!-- 首页—渔乐短片  android:configChanges="orientation|screenSize|keyboardHidden" -->
        <activity
            android:name=".activity.HarvestShortActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask" />
        <!-- 发送消息 -->
        <activity
            android:name=".activity.SendMessageActivity"
            android:screenOrientation="portrait" />
        <!-- 首页-视频分类列表 -->
        <activity
            android:name=".activity.HomeVideoTypeActivity"
            android:screenOrientation="portrait" />
        <!-- 钓友上图（钓场，渔具店） -->
        <activity
            android:name=".activity.FishingFriendsUploadActivity"
            android:screenOrientation="portrait" />
        <!-- 地图分布（钓场，渔具店） -->
        <activity
            android:name=".activity.MapDistributionShowActivity"
            android:screenOrientation="portrait" />
        <!-- 地图分布（钓场，渔具店详情） -->
        <activity
            android:name=".activity.SingleMapDistributionActivity"
            android:screenOrientation="portrait" />
        <!-- 搜索 -->
        <activity
            android:name=".activity.SearchResultActivity"
            android:screenOrientation="portrait" />

        <!--搜索结果-->
        <activity
            android:name=".search.SearchMessageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- 首页饵料 -->
        <activity
            android:name=".activity.HomeBaitActivity"
            android:screenOrientation="portrait" />
        <!-- 百度地图key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="ceYeQiIkM958CYYoQ4jEIGHy5jtetoXY" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:permission="android.permission.BAIDU_LOCATION_SERVICE"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.4" />
            </intent-filter>
        </service>
        <!-- 地图选点 -->
        <activity android:name=".activity.LocationMapActivity" />
        <activity android:name=".activity.FishingPlaceSelectActivity" />
        <!-- 点评 -->
        <activity android:name=".activity.ReviewActivity" />
        <!-- 技巧，饵料分类 -->
        <activity android:name=".activity.SkillAndBaitTypeActivity" />
        <!-- 修改帖子 -->
        <activity android:name=".activity.PublishPostChangeActivity" />
        <activity android:name=".activity.PublishGetChangeActivity" />

        <!--切换城市-->
        <activity android:name=".citychange.CityChangeActivity" />

        <activity
            android:name=".citys.CityActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <!-- 极光 -->
        <!-- Rich push 核心功能 since 2.0.6 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle" />

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.project.dyuapp" />
            </intent-filter>
        </activity>

        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":mult">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- since 3.0.9 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="com.project.dyuapp.DataProvider"
            android:exported="false" />

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.project.dyuapp" />
            </intent-filter>
        </service>
        <!-- since 3.1.0 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="com.project.dyuapp.DownloadProvider"
            android:exported="true" />
        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="com.project.dyuapp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".MyJpushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.project.dyuapp" />
            </intent-filter>
        </receiver>

        <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调 -->
        <!--
        <receiver android:name="com.example.jpushdemo.MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.project.dyuapp"></category>
            </intent-filter>
        </receiver>
        -->
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="fc4cb18405bfdb692e35ed1c" />

        <!-- 渔乐短片（优酷） -->
        <activity
            android:name=".activity.HarvestShortYoukuActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            android:windowSoftInputMode="stateHidden|adjustResize|stateAlwaysHidden" />

        <!--版本更新-安装-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>